.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(170, 41, 187, 0.904);
  border: solid 2px rgb(248, 78, 11);
  height: 80 px;
  width: 100%;
}

.logo {
  width: 50px;
}
.allActions {
  height: 50px;
  border-radius: 6px;
}

.actions {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.formu {
  text-align: center;
  padding-left: 6px;
  padding-bottom: 6px;
}
