html * {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: rgba(177, 174, 180, 0.911);
}

/* html *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
 }
  */
