.comp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border: 2px var(--borders);
  background-color: rgba(170, 41, 187, 0.904);
  border-radius: 10px;
  padding: 25px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 5px var(--borders);
}

.err {
  color: red;
  background-color: aliceblue;
}

.gens {
  display: flex;
  flex-direction: row;
  background-color: rgba(204, 104, 218, 0.904);
}

.gen {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 2px;
}

.inp {
  position: relative;
}
