.filtro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  height: 50px;
  padding: 10px 30px;
  margin: 10px;
  font-size: 20px;
}
.h * {
  padding-right: 5px;
  color: black;
}

.nameFilt {
  border: 2px solid white;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  color: white;
  background-color: rgba(106, 17, 117, 0.904);
  font-weight: 800;
}
