.container {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(177, 174, 180, 0.911);
  border: solid rgb(248, 78, 11) 2px;
  border-top: none;
  height: 80px;
}

section {
  margin: 20px;
}

p {
  color: white;
}

.recharge {
  height: 60px;
  border-radius: 6px;
}
