.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
  border: solid var(--borders) 2px;
  border-top: none;
  height: 80px;
}

.contFilter {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
  border: solid black 2px;
  border-radius: 20px;
}

section {
  margin: 20px;
}

.formu {
  text-align: center;
  justify-content: space-between;
  padding-left: 6px;
}

.formu p {
  margin: 0;
}

.formBox {
  background-color: var(--nav-details);
  border: hidden;
  border-radius: 20px;
  color: white;
}

.formBox:hover {
  border: solid 0.5px;
  border-radius: 20px;
}

.formButt {
  background-color: var(--nav-details);
  border: none;
  border-radius: 20px;
  color: white;
}

.buttImg {
  margin-left: 10px;
  height: 25px;
  width: 25px;
}
.buttImg:hover {
  animation: buttImg 1.2s infinite;
}

@keyframes buttImg {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
