.pag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.arrow {
  margin: 7px;
}
